.Intro{
    background-image:url('../img/IntroBg.svg');
    background-repeat:no-repeat;
    background-position: top center;
    min-height: 1020px;
    position: relative;
	-webkit-background-size: cover;
	background-size: cover;
    padding-top: 200px;
    justify-content: right;
}

.IntroBlock{
    float: right;
    margin-right: 40px;
    width: 50vw;
    background-color: #FFF3E3;
}

.IntroText{
    color:#B88E2F;
    width: 25vw;
}