.Intro{
    background-image:url('../img/IntroBg.svg');
    background-repeat:no-repeat;
    background-position: top center;
    background-attachment: fixed;
    min-height: 1020px;
    position: relative;
	-webkit-background-size: cover;
	background-size: cover;
    padding-top: 200px;
    justify-content: right;
}

.IntroBlock{
    margin-right: 40px;
    max-width: 700px;
    background-color: #FFF3E3;
}