.CategoryWrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.25rem;
}

.Title{
    font-size: 2vw;
    font-weight: 700;
}

.Description{
    font-size: 0.8vw;
    font-weight: 300;
}

.CategoryBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.25rem;
    gap: 4;
}